{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/OSPanel/domains/as/src/Controller/MainController.php'|file_link(0) }}">src/Controller/MainController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/OSPanel/domains/as/templates/main/index.html.twig'|file_link(0) }}">templates/main/index.html.twig</a></code></li>
    </ul>
</div>
        {% if saved %}
            <h2>Сохранен брэнд под id = {{ brand_id }}</h2>
        {% endif %}
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
            <div class="col-6">
                <table class="table table-responsive-sm table-sm table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Brand</th>
      <th scope="col">Origin</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
       {% for brand in brands %}
    <tr>
      <th scope="row">{{ brand.getId }}</th>
      <td>{{ brand.getName }}</td>
      <td>{{ brand.getOrigin }}</td>
      <td><a class="btn btn-secondary" href="{{ path('remove_brand', {'brand': brand.getId}) }}">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

            </div>
{% endblock %}
